<!doctype html>
<html ng-app="myapp">

<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
</head>


<body ng-controller="mainController">

    <select ng-options="company.$loki as company.name for company in companies" ng-model="selected"></select>
    {{message}}
    <div ng-if="menu">
        <button class="pure-button pure-button-primary" ng-click="createType()">增加類別</button>
        <button class="pure-button button-success" ng-click="save()">存檔</button>
        <div ng-repeat="type in menu.list">
            <label>
                類別名稱
                <input type="text" ng-model="type.name">
            </label>
            <button class="pure-button pure-button-primary" ng-click="createItem(type)"> 增加飲料</button>
            <button class="pure-button button-warning" ng-click="removeType($index)">移除類別</button>
            <div ng-repeat="item in type.items" class="pure-form pure-form-aligned drink_item">

                <div class="pure-control-group">
                    <label>飲料名字</label>
                    <input type="text" ng-model="item.name">
                </div>

                <div class="pure-control-group">
                    <label>中杯價格</label>
                    <input type="text" ng-model="item.price_m">
                </div>

                <div class="pure-control-group">
                    <label>大杯價格</label>
                    <input type="text" ng-model="item.price_l">
                </div>

                <div class="pure-control-group">
                    <label>固定糖度</label>
                    <input type="checkbox" ng-model="item.static_sugar">
                </div>

                <div class="pure-control-group">
                    <label>有做熱飲</label>
                    <input type="checkbox" ng-model="item.hot">
                </div>

                <div class="pure-control-group">
                    <label>只做熱飲</label>
                    <input type="checkbox" ng-model="item.onlyhot">
                </div>

                <button ng-click="removeItem($index,type)" class="pure-button button-warning">移除{{item.name}}</button>
                <button class="pure-button pure-button-primary" ng-click="createItem(type)">填寫下一個</button>
            </div>
        </div>
    </div>

</body>

</html>