<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">隱私權政策</div>
    </ons-toolbar>
<div>
    為履行我們對尊重和保護您隱私的承諾，我們將堅持以下所詳細介紹的基本原則，並且已經依照這些基本原則特別制定本隱私政策：<br>
1.在蒐集您的個人資訊時，我們會通知您，並徵求您對我們蒐集、使用或揭露您個人資訊的同意。<br>
2.我們會明確指出蒐集您個人資訊的特定目的。<br>
3.我們僅蒐集為履行特定目的所必須的資訊。<br>
4.除非徵得您同意或者為法律所要求或許可，我們僅可於蒐集您個人資訊之特定目的之範圍內使用或揭露您的個人資訊，而且我們僅保存為能履行該特定目的所必需之您的個人資訊。<br>
5.我們儘量確保您個人資訊的準確性、完整性和最新狀態。<br>
6.我們會透過適當的安全保障措施保護您的個人資訊。<br>
7.我們處理您個人資訊的政策和行動將盡可能透明。<br>
8.您可以查看您的個人資訊，並可適當地更正您的個人資訊。<br>
9.我們將對您負責，並隨時歡迎您提出有關我們對上述原則、本隱私政策和適用法律遵守情況的意見。<br>

我們可能出於各種原因（包括為了改進我們的隱私政策）而隨時修訂我們的隱私政策，以體現出我們服務的變化以及遵循相關法律。我們最近一次更新本隱私政策的時間是2014年11月10日，隱私政策首次發佈的日期是2012年8月15日。<br>
若我們對隱私政策作出任何重大調整，我們將在服務中或透過其他方式告知您。我們鼓勵您仔細查看更改細節。若您同意更改，請繼續使用服務。但若您不同意任何更改，且您打算不再使用我們的服務，您可以選擇關閉帳戶。在向您發出變更通知或在我們的服務中推送變更通知後，若您需要繼續使用我們的服務，則視為您接受變更，同意修改後的隱私政策。<br>

    </div>

</ons-page>