<ons-page ng-controller="signup">

    <div class="formarea">

        <div class="form-row">
            <input type="text" class="text-input--underbar width-full" placeholder="姓名" ng-model="signup_input.nickname">
        </div>

        <div class="form-row">
            <input type="text" class="text-input--underbar width-full" placeholder="Email" ng-model="signup_input.email">
        </div>

        <div class="form-row">
            <input type="password" class="text-input--underbar width-full" placeholder="設定密碼" ng-model="signup_input.password">
        </div>

        <div class="form-row">
            <input type="password" class="text-input--underbar width-full" placeholder="再輸入一次密碼" ng-model="signup_input.password_confirm">
        </div>

        <div class="lucent">
            <p class="note">密碼最少六個字</p>
        </div>

        <div class="vspc form-row">
            <ons-button modifier="large--cta" ng-click="reg()">註冊</ons-button>
        </div>
    </div>

</ons-page>