<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">服務條款</div>
    </ons-toolbar>
    <div>


        <br> 1. 定義
        <br> 本條款使用下列各項用語：

        <br> 1.1.「內容」係指文字、語音、音樂、圖片、影片、軟體、程式、代碼及其他資訊等內容。
        <br> 1.2.「本內容」係指可透過本服務連結的內容。
        <br> 1.3.「投稿內容」係指用戶投稿、傳送、上傳至本服務的內容。
        <br> 1.4.「代幣」係指可兌換本服務中有償提供的服務或內容的電子虛擬貨幣。
        <br> 1.5.「個別使用條款」係指與本服務有關而有別於本條款，以「條款」、「準則」、「政策」等名稱由本公司所分發或公布的書面。
        <br> 2. 對於條款的同意表示
        <br> 2.1.用戶應遵照本條款規定使用本服務。除非用戶有效且不可撤銷地同意本條款，方能使用本服務。

        <br> 2.2.如用戶為未成年人，須經過親權人等法定代理人同意後，方能使用本服務。此外，如用戶是為業者使用本服務時，亦請於該業者同意本條款後，再使用本服務。
        <br> 2.3.本服務一經用戶實際使用，將視為用戶已有效且不可撤銷地同意本條款。
        <br> 2.4.本服務有個別使用條款時，除本條款外，用戶亦應遵照個別使用條款規定使用本服務。
        <br> 3. 條款的變更
        <br> 於本公司判斷有必要時，得在不事先通知用戶的情形下隨時變更本條款及個別使用條款。變更後的本條款及個別使用條款自公布在本公司經營網站內的適當處時起生效。如用戶於本條款及個別使用條款變更後仍繼續使用本服務，將視為用戶已有效且不可撤銷地同意變更後的本條款及其所適用的個別使用條款。由於本公司不會個別通知用戶相關變更內容，故請用戶於使用本服務時，隨時參閱最新版本的本條款及其所適用的個別使用條款。

        <br> 4. 帳號
        <br> 4.1.用戶於使用本服務時，如有註冊用戶本身相關資料，應提供真實、正確且完整的資料，並經常進行修改以更新資料。

        <br> 4.2.用戶於使用本服務時，如有註冊密碼，應自行負責嚴密保管，以免遭到不當使用。利用該密碼所進行的一切行為均視為用戶本人的行為。
        <br> 4.3.於本服務註冊的用戶，得隨時刪除帳號終止本服務。
        <br> 4.4.本公司認為用戶違反本條款或有違反之虞時，得在不事先通知用戶的情形下對該帳號進行停權或刪除。
        <br> 4.5.本公司得在不事先通知用戶的情形下，刪除自最後一次連線起已經過一年以上的帳號。
        <br> 4.6.自帳號刪除時起，用戶於本服務的所有使用權不論任何理由均為消滅。即便是用戶不慎刪除帳號，原有的帳號亦無法回復，敬請留意。
        <br> 4.7.本服務的帳號專屬於用戶個人。用戶於本服務的所有使用權皆不得轉讓、出借予第三人或使第三人繼承。
        <br> 6. 服務的提供
        <br> 6.1.用戶就本服務的使用，應自費及負責備置必要的個人電腦、手機、通信設備、作業系統、通信方式及電力等。

        <br> 6.2.本公司得按用戶年齡、用戶有無完成身份確認作業、用戶有無註冊資料、其他本公司判斷為必要的條件，將本服務的全部或部分提供給符合上揭條件的用戶。
        <br> 6.3.於本公司判斷有必要時，得在不事先通知用戶的情形下隨時變更本服務的全部或部分內容，並中止提供本服務。
        <br> 7. 無緊急通報功能
        <br> 本服務並未搭載能向警察機關、海岸巡防機關、消防機關或其他機關等發出緊急通報的功能。

        <br> 8. 廣告刊登
        <br> 本公司得在本服務刊登本公司或第三人的廣告。

        <br> 9. 業務合作夥伴服務
        <br> 本服務內可能包含其他與本公司有業務合作的業者所提供的服務或內容。該等服務或內容所應負責任，概由提供服務或內容的業者負擔。此外，提供服務或內容的業者所規定的使用條款及其他條件，可能適用於該等服務或內容。

        <br> 10.　內容


        <br> 10.1.本公司就本公司所提供的本內容授予用戶使用權，此使用權並不得轉讓及再授權，且具有非獨占性，並以使用本服務為唯一目的。

        <br> 10.2.如用戶使用的本內容另有規定使用費、使用期間等使用條件時，即應遵照該等使用條件。即使本服務介面上有顯示「購買」、「販賣」等文字，本公司對客戶提供的本內容相關智慧財產權及其他權利亦不因此移轉給用戶，對用戶僅有授予上述使用權。
        <br> 10.3.用戶不得超出本服務所訂定的使用樣態而使用(包括重製、傳送、轉載、更動等行為)本內容。
        <br> 10.4.請用戶自行儲存投稿內容的備份。本公司並無義務儲存投稿內容的備份。
        <br> 10.5.本服務可能具備多數用戶可進行投稿、修改、刪除等編輯的功能。於此情形下，用戶同意其他用戶可編輯該用戶自行投稿的內容。
        <br> 10.6.用戶對投稿內容所應有的權利照常維持不變，本公司並未取得相關權利。但投稿內容屬於對其他不在好友名單內的用戶亦會公開的內容，用戶以無償、無限期、不限地點的方式，授權本公司將該投稿內容用於服務或促銷活動的權利（包括於認有必要且適當的範圍內，本公司得加以省略等變更的權利。另包括本公司將相關使用權再授權給與本公司有業務合作的第三人的權利）。
        <br> 10.7.本公司需確認有無違反法令或本條款規定等情形時，得對投稿內容進行確認。但此不代表本公司有義務進行該等確認。
        <br> 10.8.本公司認為用戶投稿內容違反相關法令或本條款規定或有違反之虞時，或有其他業務上需求時，得在不事先通知用戶的情形下，以刪除投稿內容等方式限制本服務中投稿內容的使用。
        <br> 12. 禁止事項
        <br> 用戶於使用本服務時不得從事下列所述行為：

        <br> 12.1.違反法令、法院判決、裁定或命令或具有法令拘束力的行政措施的行為。
        <br> 12.2.恐有危害公共秩序或善良風俗的行為。
        <br> 12.3.侵害本公司或第三人的著作權、商標權、專利權等智慧財產權、名譽權、隱私權、其他法令或契約規定權利的行為。
        <br> 12.4.投稿或傳送內容有過度暴力的表現、性暗示過度露骨的表現、涉及人種、國籍、信仰、性別、社會地位、家世等有關歧視的表現、引誘或助長自殺、自傷行為或濫用藥物的表現、其他包含反社會情節在內等使人感到不愉快的表現的行為。
        <br> 12.5.偽裝成本公司或第三人的行為或故意散布不實資訊的行為。
        <br> 12.6.傳送相同或類似訊息給不特定多數用戶的行為（經本公司同意者除外）、隨機將其他用戶加入為好友或群組留言板的行為、及其他本公司判斷為垃圾訊息的行為。
        <br> 12.7.藉由本公司規定以外的方式，以本內容的使用權兌換現金、財物或其他經濟利益的行為。
        <br> 12.8.以行銷、宣傳、廣告、招攬或其他營利為目的之行為（經本公司同意者除外）、以性行為或猥褻行為為目的之行為、以與未曾謀面的異性認識或交往為目的之行為、以騷擾或毀謗中傷其他用戶為目的之行為、其他基於與本服務訂定的使用目的不同之目的使用本服務的行為。
        <br> 12.9.對反社會勢力提供利益或其他協助的行為。
        <br> 12.10.勸誘參與宗教活動或宗教團體的行為。
        <br> 12.11.不當蒐集、公開或提供他人的個人資料、註冊資料、使用記錄資料等的行為。
        <br> 12.12.干擾本服務的伺服器或網路系統的行為、利用BOT、作弊工具、其他技術性手段不當操作服務的行為、故意利用本服務漏洞的行為、超出必要限度重複同一問題等對本公司提出不當洽詢或要求的行為、其他妨礙本公司經營本服務或其他用戶使用本服務，並製造干擾的行為。
        <br> 12.13.支援或助長符合前述第12.1.項至第12.12項任一行為的行為。
        <br> 12.14.其他本公司判斷為不適當的行為。
        <br> 13. 用戶責任
        <br> 13.1.用戶應自行承擔責任使用本服務，對於在本服務所從事的所有行為及其結果應自行負擔一切責任。

        <br> 13.2.本公司認為用戶在違反本條款情形下使用本服務時，將採取本公司判斷有必要且適當的措施。但此不代表本公司有義務防止或糾正該等違反情形。
        <br> 13.3.起因於用戶使用本服務（包括本公司自第三人處收到原因為該等使用的申訴），致本公司直接或間接蒙受任何損害（包括律師費用的負擔）時，用戶應依照本公司要求立即給予補償。
        <br> 14. 本公司的免責 14.1.不論明示或默示，本公司均未保證本服務（包括本內容）不具有事實瑕疵或法律瑕疵（包括安全性、可靠性、正確性、完整性、有效性、特定目的的適用性、安全等相關缺陷、錯誤或程式錯誤、權利侵害等）。本公司對用戶並無清除該等瑕疵後再提供本服務的義務。
        <br> 14.2.因本服務而對用戶所造成的所有損害，本公司將不負任何責任。但本公司與用戶間的本服務相關契約（包括本條款）為消費者契約法規定的消費者契約時，則不適用此免責規定。
        <br> 14.3.即使在前述第14.2.項但書所規定情形下，在因本公司過失（重大過失除外）所發生的債務不履行或侵權行為對用戶所造成的損害中，本公司對於特殊事由所造成的損害（包括本公司或用戶就損害發生已預見或有可能預見者），亦概不負其責。此外，因本公司過失（重大過失除外）所發生債務不履行或侵權行為對用戶所造成的損害，其賠償以發生該等損害當月自用戶收取的使用金額為上限。
        <br> 15. 聯絡方式
        <br> 15.1.本公司向用戶聯絡本服務相關事項，以於本公司經營網站內的適當處公布或其他本公司判斷為適當的方式進行。
        <br> 15.2.用戶向本公司聯絡本服務相關事項，請以本公司經營網站內的適當處所設置的問題反應表傳送或依本公司指定方式進行。
        <br> 16. 準據法、管轄法院
        <br> 本條款以日文為準，其準據法為日本法律。用戶與本公司間所發生起因於本服務或與本服務有關連的紛爭，以東京地方法院或東京簡易法院為第一審專屬合意管轄法院。

        <br> 以上
        <br> 最後更新日期：20153年06月13日

        <br>

    </div>

</ons-page>