<ons-page ng-controller="setting">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">個人資料</div>
    </ons-toolbar>

    <div class="eprofile-card" back-img="{{background}}">
        <div class="eprofile-shadow"></div>
        <div  class="eprofile-label-background">
            
        </div>

        <div class="eprofile-image" back-img="{{avatar}}">
            
        </div>
        <div id="nickname" class="eprofile-name">{{nickname}}</div>
        <div class="eprofile-id">{{email}}</div>
        <!--        <div class="eprofile-desc">Freelance designer, software engineer and cyclist</div>-->

    </div>

    <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item modifier="chevron" ng-click="goFavoriteDrink()">
            編輯喜好店家
        </ons-list-item>

    </ons-list>

</ons-page>