<ons-page ng-controller="setting">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">個人資料</div>
    </ons-toolbar>


    <ons-row class="profile-wrapper">
        <ons-col width="60px" class="profile-image-wrapper">
            <img src="https://unsplash.it/50/50/?random" class="profile-image">
        </ons-col>

        <ons-col>
            <div class="profile-name">李曉明</div>
            <div class="profile-email">快來與我一起喝飲料</div>
        </ons-col>
    </ons-row>
    <ons-list modifier="inset">
        <ons-list-item ng-click="gotoEditProfile()">編輯個人資料</ons-list-item>
    </ons-list>

</ons-page>