<ons-page ng-controller="store">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">飲料店</div>
    </ons-toolbar>

    <ons-list modifier="inset" style="  margin-top: 10px;">
        <ons-list-header>詳細資料</ons-list-header>
        <ons-list-item>店名 {{storeData.company_name + '-' +storeData.name}}</ons-list-item>
        <ons-list-item>地址 {{storeData.address}}</ons-list-item>
        <ons-list-item>電話 {{storeData.phone}}</ons-list-item>
        <ons-list-item modifier="chevron" ng-click="addComment()">撰寫評論</ons-list-item>
    </ons-list>

    <ons-list class="timeline" modifier="inset">
        <ons-list-header>熱門評論</ons-list-header>
        <ons-list-item class="timeline-li" modifier="chevron" ng-if="!comments.length" ng-click="addComment()
">
            目前還沒有評論，要分享你喜歡的飲料或是消費經驗給大家嗎?
        </ons-list-item>
        <ons-list-item class="timeline-li" modifier="tappable" ng-repeat="c in comments">
            <div class="comment_card">
                <div class="comment_card_layout_left">
                    <div od-user="c.user_id" type="avatar" class="comment_avatar"></div>
                    <div od-user="c.user_id" type="name" class="comment_name"></div>
                </div>
                <div class="comment_card_layout_right">
                    <star-rating ng-model="c.star" readonly="true"></star-rating>
                    <div class="comment_time" am-time-ago="c.createdAt"></div>
                    <div ng-bind="c.message" class="comment_message"></div>
                </div>

            </div>
        </ons-list-item>
    </ons-list>

</ons-page>