<ons-page ng-controller="store">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">飲料店</div>
    </ons-toolbar>

    <ons-list modifier="inset"> 
    <ons-list-header>詳細資料</ons-list-header>
        <ons-list-item>店名</ons-list-item>
        <ons-list-item>地址</ons-list-item>
        <ons-list-item>電話</ons-list-item>
        <ons-list-item modifier="chevron" ng-click="gotoMenu()">看菜單</ons-list-item>
        
        <ons-list-item modifier="chevron" ng-click="addComment()">撰寫評論</ons-list-item>
    </ons-list>

    <ons-list class="timeline" modifier="inset">
        <ons-list-header>熱門評論</ons-list-header>
        <ons-list-item class="timeline-li" modifier="tappable" ng-repeat="i in [1,2,3,4]">
            <ons-row>
                <ons-col width="50px">
                    <img src="http://fakeimg.pl/40x40/" class="timeline-image">
                </ons-col>

                <ons-col>
                    <div class="timeline-date">3分鐘前</div>
                    <div class="timline-from">
                        <span class="timeline-name">某位評論者</span>
                        <span class="timeline-id">五顆星</span>
                    </div>

                    <div class="timeline-message">
                        飲料很好喝，外送服務很快
                    </div>
                    
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

</ons-page>