@charset "UTF-8";
/* line 3, D:/Documents/orderdrink_front/styles/app.scss */
input,
textarea,
[contenteditable] {
  -webkit-user-select: text;
  user-select: text; }

/*hack for onsen checkbox input*/
/* line 9, D:/Documents/orderdrink_front/styles/app.scss */
.checkbox > input[type="checkbox"] {
  visibility: hidden; }

/* line 13, D:/Documents/orderdrink_front/styles/app.scss */
.noti_all {
  font-size: 14px;
  margin: 10px; }

/* line 18, D:/Documents/orderdrink_front/styles/app.scss */
.noti_all_red {
  font-size: 14px;
  margin: 10px;
  color: #e2613c; }

/*登入頁面*/
/* line 25, D:/Documents/orderdrink_front/styles/app.scss */
.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0; }

/* line 33, D:/Documents/orderdrink_front/styles/app.scss */
input[type=email],
input[type=text],
input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px; }

/* line 42, D:/Documents/orderdrink_front/styles/app.scss */
.login-button {
  width: 100%;
  margin: 0 auto; }

/* line 47, D:/Documents/orderdrink_front/styles/app.scss */
.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px; }

/*登入頁面*/
/*註冊頁面*/
/* line 55, D:/Documents/orderdrink_front/styles/app.scss */
.form-row {
  margin: 4px; }

/* line 59, D:/Documents/orderdrink_front/styles/app.scss */
.width-full {
  width: 100%; }

/* line 63, D:/Documents/orderdrink_front/styles/app.scss */
.lucent {
  opacity: 0.4; }

/* line 67, D:/Documents/orderdrink_front/styles/app.scss */
.note {
  margin: 12px 8px;
  font-size: 13px; }

/* line 72, D:/Documents/orderdrink_front/styles/app.scss */
.vspc {
  margin-top: 20px; }

/* line 76, D:/Documents/orderdrink_front/styles/app.scss */
.formarea {
  width: 90%;
  margin: 50px auto 0px auto; }

/* line 81, D:/Documents/orderdrink_front/styles/app.scss */
.signup_note {
  color: #e2613c; }

/*註冊頁面*/
/*附近搜巡頁面*/
/* line 87, D:/Documents/orderdrink_front/styles/app.scss */
.near_map {
  width: 100%;
  height: 240px; }

/* line 92, D:/Documents/orderdrink_front/styles/app.scss */
.near_buttons {
  position: absolute;
  top: 5px;
  left: 5px; }

/*
.near_list {
    position: absolute;
    left: 0px;
    top: 0px;
    background: transparent;
    z-index: 10;
    width: 100%;
}

.near_item1 {
    opacity: 0;
    height: 300px;
}
*/
/* line 113, D:/Documents/orderdrink_front/styles/app.scss */
.near_item_active {
  background-color: #ddd; }

/*
.near_button {
    position: fixed;
    top: 300px;
    right: 10px;
    z-index: 20;
    transition: .5s all;
}
*/
/* line 126, D:/Documents/orderdrink_front/styles/app.scss */
.list-item-container.list-item-container {
  line-height: 1;
  font-size: 14px;
  padding: 15px 0px 15px 15px; }

/* line 132, D:/Documents/orderdrink_front/styles/app.scss */
.list-item-left {
  width: 60px;
  margin-right: -60px;
  float: left; }

/* line 138, D:/Documents/orderdrink_front/styles/app.scss */
.list-item-right {
  width: 100%;
  float: right; }

/* line 143, D:/Documents/orderdrink_front/styles/app.scss */
.list-item-content {
  margin-left: 50px;
  margin-right: 30px; }

/* line 148, D:/Documents/orderdrink_front/styles/app.scss */
.avator {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.3); }

/* line 156, D:/Documents/orderdrink_front/styles/app.scss */
.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px; }

/* line 163, D:/Documents/orderdrink_front/styles/app.scss */
.desc {
  line-height: 16px; }

/*附近搜巡頁面*/
/*飲料店的頁面*/
/* line 169, D:/Documents/orderdrink_front/styles/app.scss */
.store-button-bar.store-button-bar {
  width: 90%;
  margin: 10px 0 10px 5%; }

/* line 174, D:/Documents/orderdrink_front/styles/app.scss */
.store-carousel {
  width: 100%;
  height: 500px; }

/* line 179, D:/Documents/orderdrink_front/styles/app.scss */
.timeline {
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 184, D:/Documents/orderdrink_front/styles/app.scss */
.timeline-li {
  line-height: 1;
  padding: 10px; }

/* line 189, D:/Documents/orderdrink_front/styles/app.scss */
.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none; }

/* line 199, D:/Documents/orderdrink_front/styles/app.scss */
.timeline-date {
  float: right;
  font-size: 12px;
  opacity: 0.35; }

/* line 205, D:/Documents/orderdrink_front/styles/app.scss */
.timeline-from {
  margin: 10px 0 6px 0; }

/* line 209, D:/Documents/orderdrink_front/styles/app.scss */
.timline-from p {
  margin: 7px 0px 0px 0px;
  font-size: 10px;
  color: #e26444; }

/* line 215, D:/Documents/orderdrink_front/styles/app.scss */
.timeline-name {
  font-size: 15px;
  font-weight: 500; }

/* line 220, D:/Documents/orderdrink_front/styles/app.scss */
.timeline-id {
  font-size: 14px;
  opacity: 0.4; }

/* line 225, D:/Documents/orderdrink_front/styles/app.scss */
.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15; }

/*飲料店的頁面*/
/*飲料店評論*/
/* line 234, D:/Documents/orderdrink_front/styles/app.scss */
.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px; }

/* line 240, D:/Documents/orderdrink_front/styles/app.scss */
.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #ccc; }

/* line 248, D:/Documents/orderdrink_front/styles/app.scss */
.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px; }

/* line 254, D:/Documents/orderdrink_front/styles/app.scss */
.to-email {
  font-size: 14px;
  opacity: 0.4; }

/* line 259, D:/Documents/orderdrink_front/styles/app.scss */
.text-input {
  margin-top: 4px; }

/* line 263, D:/Documents/orderdrink_front/styles/app.scss */
.textarea {
  margin-top: 4px; }

/*飲料店評論*/
/*設定頁面*/
/* line 269, D:/Documents/orderdrink_front/styles/app.scss */
.profile-wrapper {
  padding: 16px 10px 0 10px; }

/* line 273, D:/Documents/orderdrink_front/styles/app.scss */
.profile-image-wrapper {
  width: 60px; }

/* line 277, D:/Documents/orderdrink_front/styles/app.scss */
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: inset 1px rgba(0, 0, 0, 0.3); }

/* line 285, D:/Documents/orderdrink_front/styles/app.scss */
.profile-name {
  font-size: 18px;
  padding: 4px 0 2px 0; }

/* line 290, D:/Documents/orderdrink_front/styles/app.scss */
.profile-des {
  font-size: 15px;
  opacity: 0.4; }

/*設定頁面*/
/*飲料的 dialog*/
/* line 297, D:/Documents/orderdrink_front/styles/app.scss */
.drink_menu_dialog {
  height: 350px; }

/* line 301, D:/Documents/orderdrink_front/styles/app.scss */
.drink_menu_dialog .content {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; }

/* line 307, D:/Documents/orderdrink_front/styles/app.scss */
.drink_menu_dialog .content .button-bar {
  width: 100%;
  margin-bottom: 15px; }

/* line 312, D:/Documents/orderdrink_front/styles/app.scss */
.list-item-action {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
  opacity: 0.3; }

/* line 322, D:/Documents/orderdrink_front/styles/app.scss */
.list-item-deleteicon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 44px;
  opacity: 0.3;
  text-align: center;
  height: 44px; }

/* line 332, D:/Documents/orderdrink_front/styles/app.scss */
.list-item-note {
  position: absolute;
  right: 56px;
  top: 0px;
  font-size: 14px; }

/* line 339, D:/Documents/orderdrink_front/styles/app.scss */
.lucent {
  opacity: 0.4; }

/* line 343, D:/Documents/orderdrink_front/styles/app.scss */
.list__item.list__item--inset.note {
  padding-left: 44px;
  font-size: 14px;
  opacity: .7;
  margin: 0 8px; }

/*飲料的 dialog*/
/*notification*/
/* line 352, D:/Documents/orderdrink_front/styles/app.scss */
.notify {
  position: relative;
  width: 90%;
  font-weight: 300;
  padding: 4px;
  margin: 10px auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 42px; }

/* line 364, D:/Documents/orderdrink_front/styles/app.scss */
.notify span {
  display: block;
  margin-left: 50px;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 13px; }

/* line 372, D:/Documents/orderdrink_front/styles/app.scss */
.notify span:nth-child(1) {
  font-weight: 700;
  font-size: 14px; }

/* line 377, D:/Documents/orderdrink_front/styles/app.scss */
.notify i {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle; }

/* line 389, D:/Documents/orderdrink_front/styles/app.scss */
.info {
  color: #004d7e;
  border: 1px solid #318eff;
  background: -moz-linear-gradient(top, #cae2ff, #97c6ff);
  background: linear-gradient(to bottom, #cae2ff, #97c6ff); }

/* line 396, D:/Documents/orderdrink_front/styles/app.scss */
.info i {
  background: #84b9f9;
  color: #003d65;
  text-shadow: 0px 1px 1px #fdfeff; }

/*notification*/
/*edit profile*/
/* line 404, D:/Documents/orderdrink_front/styles/app.scss */
.eprofile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
  position: relative; }

/* line 415, D:/Documents/orderdrink_front/styles/app.scss */
.eprofile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: rgba(50, 50, 50, 0.5);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  position: relative;
  margin: 0 auto;
  transition: .2s all; }

/* line 428, D:/Documents/orderdrink_front/styles/app.scss */
.eprofile-image.loading {
  margin: 40px auto; }

/* line 432, D:/Documents/orderdrink_front/styles/app.scss */
.eprofile-image.loading:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
  -webkit-animation: rotate 2s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg); } }

/* line 465, D:/Documents/orderdrink_front/styles/app.scss */
.eprofile-label-avatar {
  display: block;
  width: 100%;
  height: 100%; }

/* line 471, D:/Documents/orderdrink_front/styles/app.scss */
.eprofile-label-background {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  width: 50px;
  height: 50px; }

/* line 480, D:/Documents/orderdrink_front/styles/app.scss */
.background-icon {
  margin-top: 10px; }

/* line 484, D:/Documents/orderdrink_front/styles/app.scss */
.eprofile-file {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0%;
  height: 100%;
  visibility: hidden; }

/* line 496, D:/Documents/orderdrink_front/styles/app.scss */
.eprofile-shadow {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0; }

/* line 525, D:/Documents/orderdrink_front/styles/app.scss */
.eprofile-name {
  margin: 20px 0 10px 0;
  font-weight: 600;
  font-size: 27px;
  line-height: 27px;
  position: relative;
  z-index: 5; }

/* line 534, D:/Documents/orderdrink_front/styles/app.scss */
.eprofile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
  position: relative;
  z-index: 6; }

/* line 542, D:/Documents/orderdrink_front/styles/app.scss */
.eprofile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto; }

/* line 550, D:/Documents/orderdrink_front/styles/app.scss */
.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px; }

/* line 556, D:/Documents/orderdrink_front/styles/app.scss */
.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8; }

/* line 562, D:/Documents/orderdrink_front/styles/app.scss */
.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4; }

/*edit profile*/
/* line 570, D:/Documents/orderdrink_front/styles/app.scss */
.rating {
  margin: 0;
  padding: 0;
  display: inline-block; }
  /* line 574, D:/Documents/orderdrink_front/styles/app.scss */
  .rating li {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: 0.05em 0.05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer; }
    /* line 582, D:/Documents/orderdrink_front/styles/app.scss */
    .rating li.filled {
      color: #fd0; }
  /* line 586, D:/Documents/orderdrink_front/styles/app.scss */
  .rating.readonly li.filled {
    color: #666; }

/* line 591, D:/Documents/orderdrink_front/styles/app.scss */
.reportsuccess {
  text-align: center;
  padding-top: 30px;
  width: 90%;
  margin-left: 5%;
  color: #78C0A8; }
  /* line 597, D:/Documents/orderdrink_front/styles/app.scss */
  .reportsuccess i {
    font-size: 60px; }
  /* line 600, D:/Documents/orderdrink_front/styles/app.scss */
  .reportsuccess h4 {
    margin: 5px; }
  /* line 603, D:/Documents/orderdrink_front/styles/app.scss */
  .reportsuccess p {
    font-size: 14px; }

/*# sourceMappingURL=app.css.map */