@charset "UTF-8";
/* line 8, /Users/young/orderdrink/www/styles/app.scss */
input,
textarea,
[contenteditable] {
  -webkit-user-select: text;
  user-select: text; }

/*hack for onsen checkbox input*/
/* line 15, /Users/young/orderdrink/www/styles/app.scss */
.checkbox > input[type="checkbox"] {
  visibility: hidden; }

/* line 18, /Users/young/orderdrink/www/styles/app.scss */
.noti_all {
  font-size: 14px;
  margin: 10px; }

/* line 22, /Users/young/orderdrink/www/styles/app.scss */
.noti_all_red {
  font-size: 14px;
  margin: 10px;
  color: #e2613c; }

/*登入頁面*/
/* line 30, /Users/young/orderdrink/www/styles/app.scss */
.login-card {
  padding: 40px;
  width: 274px;
  margin: 0 auto 10px;
  overflow: hidden; }
  /* line 38, /Users/young/orderdrink/www/styles/app.scss */
  .login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em; }
  /* line 43, /Users/young/orderdrink/www/styles/app.scss */
  .login-card p {
    font-size: 14px;
    color: #555; }
  /* line 48, /Users/young/orderdrink/www/styles/app.scss */
  .login-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative; }
  /* line 55, /Users/young/orderdrink/www/styles/app.scss */
  .login-card input[type=email],
  .login-card input[type=password] {
    height: 44px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  /* line 70, /Users/young/orderdrink/www/styles/app.scss */
  .login-card input[type=email]:hover,
  .login-card input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
  /* line 78, /Users/young/orderdrink/www/styles/app.scss */
  .login-card .login {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    padding: 0 8px; }
  /* line 85, /Users/young/orderdrink/www/styles/app.scss */
  .login-card .login-help {
    width: 100%;
    text-align: right;
    font-size: 14px;
    margin-top: 10px; }
    /* line 90, /Users/young/orderdrink/www/styles/app.scss */
    .login-card .login-help button {
      text-decoration: none;
      color: #666;
      font-weight: 300;
      text-align: right;
      display: inline-block;
      opacity: 0.6;
      transition: opacity ease 0.5s;
      border: none;
      background-color: transparent;
      height: 30px;
      width: 80px; }
    /* line 103, /Users/young/orderdrink/www/styles/app.scss */
    .login-card .login-help .info-message {
      float: left;
      height: 30px;
      line-height: 30px;
      color: #e2613b; }
  /* line 110, /Users/young/orderdrink/www/styles/app.scss */
  .login-card .facebook {
    width: 100%;
    height: 40px;
    margin-top: 20px; }
    /* line 114, /Users/young/orderdrink/www/styles/app.scss */
    .login-card .facebook button {
      float: left;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background-image: url(../img/fb_icon.png);
      background-repeat: no-repeat;
      background-position: center;
      background-color: #3B5998;
      border: none;
      border-radius: 20px;
      background-size: 23px; }
      /* line 126, /Users/young/orderdrink/www/styles/app.scss */
      .login-card .facebook button:active {
        opacity: .5; }
    /* line 130, /Users/young/orderdrink/www/styles/app.scss */
    .login-card .facebook p {
      height: 40px;
      margin: 0;
      padding: 0;
      line-height: 20px;
      color: #627AAC; }

/*登入頁面*/
/*註冊頁面*/
/* line 145, /Users/young/orderdrink/www/styles/app.scss */
.form-row {
  margin: 4px; }

/* line 148, /Users/young/orderdrink/www/styles/app.scss */
.width-full {
  width: 100%; }

/* line 151, /Users/young/orderdrink/www/styles/app.scss */
.lucent {
  opacity: 0.4; }

/* line 154, /Users/young/orderdrink/www/styles/app.scss */
.note {
  margin: 12px 8px;
  font-size: 13px; }

/* line 158, /Users/young/orderdrink/www/styles/app.scss */
.vspc {
  margin-top: 20px; }

/* line 161, /Users/young/orderdrink/www/styles/app.scss */
.formarea {
  width: 90%;
  margin: 50px auto 0px auto; }

/* line 165, /Users/young/orderdrink/www/styles/app.scss */
.signup_note {
  color: #e2613c; }

/*註冊頁面*/
/*附近搜巡頁面*/
/* line 174, /Users/young/orderdrink/www/styles/app.scss */
.near_map {
  width: 100%;
  height: 240px; }

/* line 178, /Users/young/orderdrink/www/styles/app.scss */
.near_buttons {
  position: absolute;
  top: 5px;
  left: 5px; }

/* line 183, /Users/young/orderdrink/www/styles/app.scss */
.near_item_active {
  background-color: #ddd; }

/*
.near_button {
    position: fixed;
    top: 300px;
    right: 10px;
    z-index: 20;
    transition: .5s all;
}
*/
/* line 197, /Users/young/orderdrink/www/styles/app.scss */
.list-item-container.list-item-container {
  line-height: 1;
  font-size: 14px;
  padding: 15px 0px 15px 15px; }

/* line 202, /Users/young/orderdrink/www/styles/app.scss */
.list-item-left {
  width: 60px;
  margin-right: -60px;
  float: left; }

/* line 207, /Users/young/orderdrink/www/styles/app.scss */
.list-item-right {
  width: 100%;
  float: right; }

/* line 211, /Users/young/orderdrink/www/styles/app.scss */
.list-item-content {
  margin-left: 50px;
  margin-right: 30px; }

/* line 215, /Users/young/orderdrink/www/styles/app.scss */
.avator {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.3); }

/* line 222, /Users/young/orderdrink/www/styles/app.scss */
.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px; }

/* line 228, /Users/young/orderdrink/www/styles/app.scss */
.desc {
  line-height: 16px; }

/*附近搜巡頁面*/
/*飲料店的頁面*/
/* line 237, /Users/young/orderdrink/www/styles/app.scss */
.store-button-bar.store-button-bar {
  width: 90%;
  margin: 10px 0 10px 5%; }

/* line 241, /Users/young/orderdrink/www/styles/app.scss */
.store-carousel {
  width: 100%;
  height: 500px; }

/* line 245, /Users/young/orderdrink/www/styles/app.scss */
.timeline {
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 249, /Users/young/orderdrink/www/styles/app.scss */
.timeline-li {
  line-height: 1;
  padding: 10px; }

/* line 253, /Users/young/orderdrink/www/styles/app.scss */
.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none; }

/* line 262, /Users/young/orderdrink/www/styles/app.scss */
.timeline-date {
  float: right;
  font-size: 12px;
  opacity: 0.35; }

/* line 267, /Users/young/orderdrink/www/styles/app.scss */
.timeline-from {
  margin: 10px 0 6px 0; }

/* line 270, /Users/young/orderdrink/www/styles/app.scss */
.timline-from p {
  margin: 7px 0px 0px 0px;
  font-size: 10px;
  color: #e26444; }

/* line 275, /Users/young/orderdrink/www/styles/app.scss */
.timeline-name {
  font-size: 15px;
  font-weight: 500; }

/* line 279, /Users/young/orderdrink/www/styles/app.scss */
.timeline-id {
  font-size: 14px;
  opacity: 0.4; }

/* line 283, /Users/young/orderdrink/www/styles/app.scss */
.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15; }

/*飲料店的頁面*/
/*飲料店評論*/
/* line 295, /Users/young/orderdrink/www/styles/app.scss */
.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px; }

/* line 300, /Users/young/orderdrink/www/styles/app.scss */
.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #ccc; }

/* line 307, /Users/young/orderdrink/www/styles/app.scss */
.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px; }

/* line 312, /Users/young/orderdrink/www/styles/app.scss */
.to-email {
  font-size: 14px;
  opacity: 0.4; }

/* line 316, /Users/young/orderdrink/www/styles/app.scss */
.text-input {
  margin-top: 4px; }

/* line 319, /Users/young/orderdrink/www/styles/app.scss */
.textarea {
  margin-top: 4px; }

/*飲料店評論*/
/*設定頁面*/
/* line 328, /Users/young/orderdrink/www/styles/app.scss */
.profile-wrapper {
  padding: 16px 10px 0 10px; }

/* line 331, /Users/young/orderdrink/www/styles/app.scss */
.profile-image-wrapper {
  width: 60px; }

/* line 334, /Users/young/orderdrink/www/styles/app.scss */
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: inset 1px rgba(0, 0, 0, 0.3); }

/* line 341, /Users/young/orderdrink/www/styles/app.scss */
.profile-name {
  font-size: 18px;
  padding: 4px 0 2px 0; }

/* line 345, /Users/young/orderdrink/www/styles/app.scss */
.profile-des {
  font-size: 15px;
  opacity: 0.4; }

/*設定頁面*/
/*飲料的 dialog*/
/* line 355, /Users/young/orderdrink/www/styles/app.scss */
.drink_menu_dialog {
  height: 370px; }

/* line 358, /Users/young/orderdrink/www/styles/app.scss */
.drink_menu_dialog .content {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; }

/* line 363, /Users/young/orderdrink/www/styles/app.scss */
.drink_menu_dialog .content .button-bar {
  width: 100%;
  margin-bottom: 15px; }

/* line 367, /Users/young/orderdrink/www/styles/app.scss */
.list-item-action {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
  opacity: 0.3; }

/* line 375, /Users/young/orderdrink/www/styles/app.scss */
.list-item-deleteicon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 44px;
  opacity: 0.3;
  text-align: center;
  height: 44px; }

/* line 384, /Users/young/orderdrink/www/styles/app.scss */
.list-item-note {
  position: absolute;
  right: 56px;
  top: 0px;
  font-size: 14px; }

/* line 390, /Users/young/orderdrink/www/styles/app.scss */
.list__item.list__item--inset.note {
  padding-left: 44px;
  font-size: 14px;
  opacity: .7;
  margin: 0 8px; }

/*飲料的 dialog*/
/*notification*/
/* line 402, /Users/young/orderdrink/www/styles/app.scss */
.notify {
  position: relative;
  width: 90%;
  font-weight: 300;
  padding: 4px;
  margin: 10px auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 42px; }

/* line 413, /Users/young/orderdrink/www/styles/app.scss */
.notify span {
  display: block;
  margin-left: 50px;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 13px; }

/* line 420, /Users/young/orderdrink/www/styles/app.scss */
.notify span:nth-child(1) {
  font-weight: 700;
  font-size: 14px; }

/* line 424, /Users/young/orderdrink/www/styles/app.scss */
.notify i {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle; }

/* line 435, /Users/young/orderdrink/www/styles/app.scss */
.info {
  color: #004d7e;
  border: 1px solid #318eff;
  background: -moz-linear-gradient(top, #cae2ff, #97c6ff);
  background: linear-gradient(to bottom, #cae2ff, #97c6ff); }

/* line 441, /Users/young/orderdrink/www/styles/app.scss */
.info i {
  background: #84b9f9;
  color: #003d65;
  text-shadow: 0px 1px 1px #fdfeff; }

/*notification*/
/*edit profile*/
/* line 452, /Users/young/orderdrink/www/styles/app.scss */
.eprofile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
  position: relative; }

/* line 462, /Users/young/orderdrink/www/styles/app.scss */
.eprofile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: rgba(50, 50, 50, 0.5);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  position: relative;
  margin: 0 auto;
  transition: .2s all; }

/* line 474, /Users/young/orderdrink/www/styles/app.scss */
.eprofile-image.loading {
  margin: 40px auto; }

/* line 477, /Users/young/orderdrink/www/styles/app.scss */
.eprofile-image.loading:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
  -webkit-animation: rotate 2s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg); } }

/* line 507, /Users/young/orderdrink/www/styles/app.scss */
.eprofile-label-avatar {
  display: block;
  width: 100%;
  height: 100%; }

/* line 512, /Users/young/orderdrink/www/styles/app.scss */
.eprofile-label-background {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  width: 50px;
  height: 50px; }

/* line 520, /Users/young/orderdrink/www/styles/app.scss */
.background-icon {
  margin-top: 10px; }

/* line 523, /Users/young/orderdrink/www/styles/app.scss */
.eprofile-file {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0%;
  height: 100%;
  visibility: hidden; }

/* line 534, /Users/young/orderdrink/www/styles/app.scss */
.eprofile-shadow {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0; }

/* line 555, /Users/young/orderdrink/www/styles/app.scss */
.eprofile-name {
  margin: 20px 0 10px 0;
  font-weight: 600;
  font-size: 27px;
  line-height: 27px;
  position: relative;
  z-index: 5; }

/* line 563, /Users/young/orderdrink/www/styles/app.scss */
.eprofile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
  position: relative;
  z-index: 6; }

/* line 570, /Users/young/orderdrink/www/styles/app.scss */
.eprofile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto; }

/* line 577, /Users/young/orderdrink/www/styles/app.scss */
.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px; }

/* line 582, /Users/young/orderdrink/www/styles/app.scss */
.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8; }

/* line 587, /Users/young/orderdrink/www/styles/app.scss */
.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4; }

/*edit profile*/
/* line 596, /Users/young/orderdrink/www/styles/app.scss */
.rating {
  margin: 0;
  padding: 0;
  display: inline-block; }
  /* line 600, /Users/young/orderdrink/www/styles/app.scss */
  .rating li {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: 0.05em 0.05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer; }
    /* line 608, /Users/young/orderdrink/www/styles/app.scss */
    .rating li.filled {
      color: #fd0; }
  /* line 612, /Users/young/orderdrink/www/styles/app.scss */
  .rating.readonly li.filled {
    color: #666; }

/* line 616, /Users/young/orderdrink/www/styles/app.scss */
.reportsuccess {
  text-align: center;
  padding-top: 30px;
  width: 90%;
  margin-left: 5%;
  color: #78C0A8; }
  /* line 622, /Users/young/orderdrink/www/styles/app.scss */
  .reportsuccess i {
    font-size: 60px; }
  /* line 625, /Users/young/orderdrink/www/styles/app.scss */
  .reportsuccess h4 {
    margin: 5px; }
  /* line 628, /Users/young/orderdrink/www/styles/app.scss */
  .reportsuccess p {
    font-size: 14px; }

/* line 633, /Users/young/orderdrink/www/styles/app.scss */
.near_page .card {
  height: 100%;
  position: relative;
  display: block; }
  /* line 637, /Users/young/orderdrink/www/styles/app.scss */
  .near_page .card .card-image {
    height: calc(100% - 136px); }
    /* line 639, /Users/young/orderdrink/www/styles/app.scss */
    .near_page .card .card-image #googlemap {
      height: 100%;
      width: 100%; }
    /* line 643, /Users/young/orderdrink/www/styles/app.scss */
    .near_page .card .card-image .near-fab {
      position: absolute;
      width: 56px;
      top: 10px;
      left: 10px; }
      /* line 648, /Users/young/orderdrink/www/styles/app.scss */
      .near_page .card .card-image .near-fab .btn-floating {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      /* line 651, /Users/young/orderdrink/www/styles/app.scss */
      .near_page .card .card-image .near-fab ul {
        top: 80px;
        left: 0px;
        width: 100%;
        text-align: center; }
      /* line 658, /Users/young/orderdrink/www/styles/app.scss */
      .near_page .card .card-image .near-fab li .btn-floating {
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
  /* line 665, /Users/young/orderdrink/www/styles/app.scss */
  .near_page .card .card-avatar {
    padding: 20px 20px 20px 84px;
    border-radius: 0 0 2px 2px;
    position: relative; }
    /* line 669, /Users/young/orderdrink/www/styles/app.scss */
    .near_page .card .card-avatar .avatar {
      position: absolute;
      border-radius: 50%;
      height: 64px;
      width: 64px;
      left: 12px;
      background-color: #595757;
      top: calc(50% - 32px); }
    /* line 678, /Users/young/orderdrink/www/styles/app.scss */
    .near_page .card .card-avatar .card-title {
      font-size: 24px;
      line-height: 30px;
      margin: 0px;
      letter-spacing: 1px;
      font-weight: 900; }
    /* line 685, /Users/young/orderdrink/www/styles/app.scss */
    .near_page .card .card-avatar p {
      margin: 0; }
  /* line 689, /Users/young/orderdrink/www/styles/app.scss */
  .near_page .card .card-reveal {
    padding: 0px; }
    /* line 691, /Users/young/orderdrink/www/styles/app.scss */
    .near_page .card .card-reveal .list-item-container {
      line-height: 1;
      font-size: 14px;
      padding: 15px 0px 15px 15px; }
      /* line 695, /Users/young/orderdrink/www/styles/app.scss */
      .near_page .card .card-reveal .list-item-container .list-item-left {
        width: 60px;
        margin-right: -60px;
        float: left; }
        /* line 699, /Users/young/orderdrink/www/styles/app.scss */
        .near_page .card .card-reveal .list-item-container .list-item-left .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%; }
      /* line 705, /Users/young/orderdrink/www/styles/app.scss */
      .near_page .card .card-reveal .list-item-container .list-item-right {
        width: 100%;
        float: right; }
        /* line 708, /Users/young/orderdrink/www/styles/app.scss */
        .near_page .card .card-reveal .list-item-container .list-item-right .list-item-content {
          margin-left: 50px;
          margin-right: 30px; }
          /* line 711, /Users/young/orderdrink/www/styles/app.scss */
          .near_page .card .card-reveal .list-item-container .list-item-right .list-item-content .name {
            font-weight: 500;
            line-height: 16px;
            font-size: 15px;
            margin-bottom: 6px; }
          /* line 717, /Users/young/orderdrink/www/styles/app.scss */
          .near_page .card .card-reveal .list-item-container .list-item-right .list-item-content .desc {
            line-height: 16px; }
          /* line 720, /Users/young/orderdrink/www/styles/app.scss */
          .near_page .card .card-reveal .list-item-container .list-item-right .list-item-content .lucent {
            opacity: 0.4; }

/* line 729, /Users/young/orderdrink/www/styles/app.scss */
.caculate_item {
  font-size: 14px;
  font-weight: 600; }

/* line 733, /Users/young/orderdrink/www/styles/app.scss */
.caculate_info {
  font-size: 12px;
  color: #777;
  height: 30px;
  line-height: 30px; }

/*# sourceMappingURL=app.css.map */