$gray10:#F5F5F5;
$gray20:#EEEEEE;
$gray30:#E0E0E0;
$gray40:#BDBDBD;
$gray50:#9E9E9E;
$gray60:#757575;
$gray70:#616161;
$gray80:#424242;
$gray90:#212121;
$cubic:cubic-bezier(0.4,
0,
0.2,
1);
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transform: $transition;
    transition: $transition;
}

@mixin transform($transform...) {
    -moz-transform: $transform;
    -o-transform: $transform;
    -webkit-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

@mixin animation($animation...) {
    -moz-animation: $animation;
    -o-animation: $animation;
    -webkit-animation: $animation;
    -ms-animation: $animation;
    animation: $animation;
}

@mixin filter($filter...) {
    -moz-filter: $filter;
    -o-filter: $filter;
    -webkit-filter: $filter;
    -ms-filter: $filter;
    filter: $filter;
}

@mixin backgroundCover() {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin backgroundContain() {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

input,
textarea,
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}
/*hack for onsen checkbox input*/

.checkbox > input[type="checkbox"] {
    visibility: hidden;
}

.noti_all {
    font-size: 14px;
    margin: 10px;
}

.noti_all_red {
    font-size: 14px;
    margin: 10px;
    color: #e2613c;
}
/*登入頁面*/

.login-card {
    padding: 10px;
    width: 280px;
    margin: 0 auto 10px;
    overflow: hidden;
    h1 {
        font-weight: 100;
        text-align: center;
        font-size: 2em;
    }
    p {
        font-size: 14px;
        color: #555;
    }
    input {
        &[type=submit] {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            position: relative;
        }
        &[type=email],
        &[type=password] {
            height: 44px;
            font-size: 14px;
            width: 100%;
            margin-bottom: 10px;
            -webkit-appearance: none;
            background: #fff;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            /* border-radius: 2px; */
            
            padding: 0 8px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        &[type=email]:hover,
        &[type=password]:hover {
            border: 1px solid #b9b9b9;
            border-top: 1px solid #a0a0a0;
            -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        }
    }
    .login {
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        height: 40px;
        padding: 0 8px;
    }
    .login-help {
        width: 100%;
        text-align: right;
        font-size: 14px;
        margin-top: 10px;
        button {
            text-decoration: none;
            color: #666;
            font-weight: 300;
            text-align: right;
            display: inline-block;
            opacity: 0.6;
            transition: opacity ease 0.5s;
            border: none;
            background-color: transparent;
            height: 30px;
            width: 80px;
        }
        .info-message {
            float: left;
            height: 30px;
            line-height: 30px;
            color: #e2613b;
        }
    }
    .facebook {
        width: 100%;
        height: 40px;
        margin-top: 20px;
        button {
            float: left;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            background-image: url(../img/fb_icon.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #3B5998;
            border: none;
            border-radius: 20px;
            background-size: 23px;
            &:active {
                opacity: .5;
            }
        }
        p {
            height: 40px;
            margin: 0;
            padding: 0;
            line-height: 40px;
            color: #627AAC;
        }
    }
}
/*登入頁面*/
/*註冊頁面*/

.form-row {
    margin: 4px;
}

.width-full {
    width: 100%;
}

.lucent {
    opacity: 0.4;
}

.note {
    margin: 12px 8px;
    font-size: 13px;
}

.vspc {
    margin-top: 20px;
}

.formarea {
    width: 90%;
    margin: 50px auto 0px auto;
}

.signup_note {
    color: #e2613c;
}
/*註冊頁面*/
/*附近搜巡頁面*/

.near_map {
    width: 100%;
    height: 240px;
}

.near_item_active {
    background-color: #ddd;
}
/*
.near_button {
    position: fixed;
    top: 300px;
    right: 10px;
    z-index: 20;
    transition: .5s all;
}
*/

.list-item-container.list-item-container {
    line-height: 1;
    font-size: 14px;
    padding: 15px 0px 15px 15px;
}

.list-item-left {
    width: 60px;
    margin-right: -60px;
    float: left;
}

.list-item-right {
    width: 100%;
    float: right;
}

.list-item-content {
    margin-left: 50px;
    margin-right: 30px;
}

.avator {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, .3);
}

.name {
    font-weight: 500;
    line-height: 16px;
    font-size: 15px;
    margin-bottom: 6px;
}

.desc {
    line-height: 16px;
}
/*附近搜巡頁面*/
/*飲料店的頁面*/

.store-button-bar.store-button-bar {
    width: 90%;
    margin: 10px 0 10px 5%;
}

.store-carousel {
    width: 100%;
    height: 500px;
}
/*飲料店的頁面*/
/*飲料店的頁面下方評論*/

.comment_card {
    padding: 15px 0;
    min-height: 90px;
    .comment_card_layout_left {
        width: 70px;
        float: left;
        height: 70px;
        overflow: hidden;
        .comment_avatar {
            width: 50px;
            height: 50px;
            background-position: center;
            background-size: cover;
            border-radius: 40px;
            margin: 0 auto;
        }
        .comment_name {
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 8px;
            color: #777;
        }
    }
    .comment_card_layout_right {
        position: relative;
        .comment_message {
            line-height: 18px;
            font-size: 14px;
            color: #777;
            word-wrap: break-word;
            white-space: pre-wrap;
            text-overflow: ellipsis;
            padding-left: 80px;
            box-sizing: border-box;
            padding-top: 25px;
        }
        star-rating {
            position: absolute;
            top: 0;
            left: 80px;
            line-height: 0;
            ul {
                height: 20px;
                line-height: 20px;
                font-size: 10px;
            }
        }
        .comment_time {
            position: absolute;
            top: 0px;
            right: 0;
            font-size: 10px;
            color: #aaa;
            line-height: 20px;
            height: 20px;
        }
    }
}
/*飲料店的頁面下方評論*/
/*飲料店評論*/

.to-wrapper {
    line-height: 1;
    height: 62px;
    padding: 10px;
}

.to-image {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #ccc;
}

.to-name {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 4px;
}

.to-email {
    font-size: 14px;
    opacity: 0.4;
}

.text-input {
    margin-top: 4px;
}

.textarea {
    margin-top: 4px;
}
/*飲料店評論*/
/*設定頁面*/

.profile-wrapper {
    padding: 16px 10px 0 10px;
}

.profile-image-wrapper {
    width: 60px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: inset 1px rgba(0, 0, 0, 0.3);
}

.profile-name {
    font-size: 18px;
    padding: 4px 0 2px 0;
}

.profile-des {
    font-size: 15px;
    opacity: 0.4;
}
/*設定頁面*/
/*飲料的 dialog*/

.drink_menu_dialog {
    height: 370px;
}

.drink_menu_dialog .content {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.drink_menu_dialog .content .button-bar {
    width: 100%;
    margin-bottom: 15px;
}

.list-item-action {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 20px;
    opacity: 0.3;
}

.list-item-action > ons-icon {}

.list-item-deleteicon {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 44px;
    opacity: 0.3;
    text-align: center;
    height: 44px;
}

.list-item-note {
    position: absolute;
    right: 56px;
    top: 0px;
    font-size: 14px;
}

.list__item.list__item--inset.note {
    padding-left: 44px;
    font-size: 14px;
    opacity: .7;
    margin: 0 8px;
}
/*飲料的 dialog*/
/*notification*/

.notify-info {
    position: relative;
    width: 90%;
    font-weight: 300;
    padding: 4px;
    margin: 10px auto;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 42px;
    span {
        display: block;
        margin-left: 50px;
        font-size: 12px;
        margin-bottom: 4px;
        line-height: 13px;
        color: #aaa;
        &:nth-child(1) {
            font-size: 14px;
            color: #333;
        }
    }
    i {
        position: absolute;
        left: 0px;
        /* top: 0px; */
        
        bottom: -3px;
        width: 40px;
        height: 40px;
        font-size: 33px;
        line-height: 44px;
        text-align: center;
        /* line-height: 50px; */
        
        vertical-align: middle;
        background: #84b9f9;
        color: white;
        border-radius: 50%;
        /* text-shadow: 0px 1px 1px #fdfeff; */
    }
}
/*notification*/
/*edit profile*/

.eprofile-card {
    width: 100%;
    text-align: center;
    color: white;
    padding: 30px 0;
    line-height: 1.4;
    background-color: #33393c;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
    position: relative;
}

.eprofile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: rgba(50, 50, 50, .5);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
    position: relative;
    margin: 0 auto;
    transition: .2s all;
}

.eprofile-image.loading {
    margin: 40px auto;
}

.eprofile-image.loading:after {
    content: '';
    background: trasparent;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    animation: rotate 2s infinite linear;
    -webkit-animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}

.eprofile-label-avatar {
    display: block;
    width: 100%;
    height: 100%;
}

.eprofile-label-background {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 50px;
    height: 50px;
}

.background-icon {
    margin-top: 10px;
}

.eprofile-file {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0%;
    height: 100%;
    visibility: hidden;
}

.eprofile-shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C */
    
    //    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
    
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
}

.eprofile-name {
    margin: 20px 0 10px 0;
    font-weight: 600;
    font-size: 27px;
    line-height: 27px;
    position: relative;
    z-index: 5;
}

.eprofile-id {
    margin: 0 0 5px 0;
    font-size: 14px;
    opacity: 0.6;
    position: relative;
    z-index: 6;
}

.eprofile-desc {
    font-size: 15px;
    opacity: 0.6;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.info-col {
    height: 60px;
    line-height: 1;
    padding: 12px 0 12px 4px;
}

.info-num {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}

.info-unit {
    margin-top: 6px;
    font-size: 14px;
    opacity: 0.4;
}
/*edit profile*/

//推薦的星星
.rating {
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
        padding: 1px;
        color: #ddd;
        font-size: 20px;
        text-shadow: .05em .05em #aaa;
        list-style-type: none;
        display: inline-block;
        cursor: pointer;
        &.filled {
            color: #fd0; //#21568b
        }
    }
    &.readonly li.filled {
        color: #666;
    }
}

.reportsuccess {
    text-align: center;
    padding-top: 30px;
    width: 90%;
    margin-left: 5%;
    color: #78C0A8;
    i {
        font-size: 60px;
    }
    h4 {
        margin: 5px;
    }
    p {
        font-size: 14px;
    }
}

.near_page {
    .card {
        height: 100%;
        position: relative;
        display: block;
        margin: 0;
        .card-image {
            height: 100%;
            .near_buttons {
                position: absolute;
                top: 5px;
                left: 5px;
                z-index: 1;
                button {
                    padding: 0 10px;
                }
            }
            #googlemap {
                height: 100%;
                width: 100%;
            }
        }
        .card-footer {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.8);
        }
        .card-avatar {
            padding: 18px 48px 18px 84px;
            .avatar {
                position: absolute;
                border-radius: 50%;
                height: 64px;
                width: 64px;
                left: 12px;
                background-color: #595757;
                top: calc(50% - 32px);
                @include backgroundCover();
            }
            .title {
                font-size: 24px;
                line-height: 30px;
                margin: 0px;
                letter-spacing: 1px;
                font-weight: 900;
            }
            p {
                margin: 6px 0 0 0;
                font-size: 18px;
                line-height: 18px;
            }
            i {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                -moz-align-items: center;
                align-items: center;
                position: absolute;
                top: 0;
                right: 16px;
                height: 100%;
                font-size: 36px;
            }
        }
        .card-reveal {
            padding: 0px;
            height: 100%;
            overflow: hidden;
            display: block;
            @include transition(all .3s $cubic);
            //            visibility: hidden;
            z-index: -1;
            &.active {
                z-index: 1;
                //                visibility: visible;
                @include transition(all .3s $cubic);
                @include transform(translateY(-100%));
            }
            .card-header {
                width: 100%;
                height: 120px;
                .card-avatar {
                    padding: 28px 48px 28px 84px;
                    width: 100%;
                    //旭:iphone不會把element好好的fixed在上面會壞掉，所以拿掉fixed   position: fixed;
                    top: 0px;
                    display: block;
                    background-color: #fff;
                    z-index: 2;
                }
            }
            .ons-scroller {
                height: 100%;
                padding: 0px;
                .list-item-container {
                    padding: 18px 0px 18px 74px;
                    .avatar {
                        position: absolute;
                        left: 12px;
                        top: calc(50% - 24px);
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        @include backgroundCover();
                    }
                    .name {
                        font-weight: 900;
                        line-height: 16px;
                        font-size: 18px;
                    }
                    .desc {
                        margin: 6px 0 0 0;
                        line-height: 16px;
                        font-size: 14px;
                    }
                    .location {
                        color: $gray60;
                        font-size: 12px;
                        margin-left: 6px;
                        &:after {
                            content: 'km'
                        }
                    }
                }
            }
        }
    }
}

.caculate_item {
    font-size: 14px;
    font-weight: 600;
}

.caculate_info {
    font-size: 12px;
    color: #777;
    height: 30px;
    line-height: 30px;
}