<ons-page ng-controller="tab1Controller">

    <ons-toolbar>
        <div class="center">List with Mini Pictures</div>
        <div class="right">
            <ons-toolbar-button ng-click="AddPage();">
              <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
            </ons-toolbar-button>
          </div>
    </ons-toolbar>

    <ons-pull-hook ng-action="load($done)" var="tab1_loader_avatar">
        <span ng-switch="tab1_loader_avatar.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> 請往下拉</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> 請放開我</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> 讀取中</span>
        </span>
      </ons-pull-hook>
    
    
    <ons-list>
        <ons-list-item ng-show="items.length === 0">
          <div class="info">
            現在沒有資料
          </div>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="item in items">
            <div class="list-item-left">
                <img src="http://fakeimg.pl/100x100/" class="avator">
            </div>
            <div class="list-item-right">
                <div class="list-item-content">
                    <div class="name">TestUser
                        <span class="lucent">@hello</span>
                    </div>

                    <span class="desc">{{item.desc}}</span>
                </div>
            </div>
        </ons-list-item>

        
    </ons-list>
</ons-page>